services:
  madr_database:
    image: postgres:16
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    env_file:
      - .env

  madrapp:
    image: madrapp
    entrypoint: ./entrypoint.sh
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - madr_database
    env_file:
      - .env

volumes:
  pgdata: